<h1>Servers</h1>

<button class="btn btn-primary"
  (click)="displayForm = true">
  Add Server
</button>

<div *ngIf="displayForm" class="card mt-4">
  <h2 class="card-header">Create new server</h2>
  <div class="card-body">
    <app-create-server
      (cancel)="displayForm = false"
      (submit)="onCreateServer($event)"></app-create-server>
  </div>
</div>

<div *ngIf="!displayForm" class="px-2 mt-4 mb-2">
  <h2>Server List</h2>
  <div class="row">
    <div class="col-6">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let server of servers">
          <a [routerLink]="['/servers', server.id]">{{ server.name }}</a>
        </li>
      </ul>
    </div>
    <div class="col-6">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
