<p #pRef>Testing ViewChild, this is the default value</p>
<div class="container">
  <ng-content></ng-content>
  <div class="form-group">
    <label for="name">Server name</label>
    <input #serverNameInput type="text" id="name" class="form-control">
  </div>
  <button class="btn btn-primary"
    (click)="onCreateServer(serverNameInput.value)">
    Add Server
  </button>

  <div class="row px-2 mt-4">
    <div class="col-12">
      <div>
        <h3>Servers</h3>
        <ul class="list-group">
          <app-server *ngFor="let server of servers"
            [server]="server"
            (serverChanged)="changeServerStatus($event)">
          </app-server>
        </ul>
      </div>
    </div>
  </div>

</div>
