<div class="container">
  <h1>Servers</h1>

  <button class="btn btn-primary"
    (click)="displayForm = true">
    Add Server
  </button>

  <div *ngIf="displayForm" class="card mt-4">
    <h2 class="card-header">Create new server</h2>
    <div class="card-body">
      <app-create-server (cancel)="displayForm = false"></app-create-server>
    </div>
  </div>

  <div *ngIf="!displayForm" class="row px-2 mt-4 mb-2">
    <div class="col-12">
      <div>
        <h2>Server List</h2>
        <ul class="list-group">
          <app-server *ngFor="let server of servers"
            [server]="server"
            (serverChanged)="changeServerStatus($event)">
          </app-server>
        </ul>
      </div>
    </div>
  </div>

</div>
