<div class="container">
  <div class="row border border-primary p-2 my-2">
    <div class="col-12 d-flex flex-row justify-content-between">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}"
             routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLinkActive="active"
             routerLink="/users">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLinkActive="active"
             [routerLink]="['/servers']">Servers</a>
        </li>
      </ul>
      <div *ngIf="logged">
        Hello!
        <button (click)="onLogout()"
                 class="btn btn-danger ml-2">Logout</button>
      </div>
      <a *ngIf="!logged" routerLink="/login" class="btn btn-primary">log in</a>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
