<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" class="form-control" type="text"
             formControlName="name"
             placeholder="Please, enter a server name">

       <span *ngIf="name.errors && name.touched && name.hasError('required')"
         class="error">El nombre es obligatorio</span>
       <span *ngIf="name.errors && name.touched && name.hasError('maxlength')"
             class="error">El nombre debe tener como máximo
                 {{ name.errors.maxlength.requiredLength }} caracteres</span>
       <span *ngIf="name.errors && name.touched && name.hasError('forbiddenName')"
         class="error">El nombre {{ name.value }} no está permitido</span>
    </div>
    <div class="form-group">
      <label for="id">ID</label>
      <input id="id" class="form-control" type="number"
             formControlName="id"
             placeholder="Please, enter a server ID">

       <span *ngIf="id.errors && id.touched && id.hasError('required')"
         class="error">El id es obligatorio</span>
       <span *ngIf="id.errors && id.touched && id.hasError('pattern')"
             class="error">El id debe ser mayor que 0
       </span>
    </div>
    <div class="form-group">
      <label for="status">Status</label>
      <select id="status" class="form-control"
              formControlName="status">
        <option>Online</option>
        <option>Offline</option>
      </select>
    </div>
    <div class="form-group">
      <label for="instance">Instance Type</label>
      <div *ngFor="let instance of instanceTypeOptions">
        <input name="instanceType" type="radio"
          formControlName="instanceType"
          [value]="instance">
          {{ instance }}
        </div>
    </div>
    <div *ngIf="form.invalid && form.touched" class="alert alert-danger" role="alert">
      Por favor, introduzca información correcta para crear un servidor
    </div>
    <button type="submit" class="btn btn-sm btn-primary">Create Server</button>
    <button type="button" (click)="onCancel()" class="btn btn-sm btn-danger ml-2">Cancel</button>
    <button type="button" (click)="onDebug()" class="btn btn-sm btn-secondary ml-2">Debug</button>
  </form>
</div>
